<%- include('./layout')-%>

<body>
  <div class="container">
    <div class="formulario">

        <h2>Ingrese Producto</h2>

        <form action="/productos/guardar" method="POST" >
          <div class="mb-3">
            <label for="input1" class="form-label">Nombre</label>
            <input type="text" name="title" class="form-control" id="title">
          </div>
          <div class="mb-3">
            <label for="input2" class="form-label">Precio</label>
            <input type="text" name="price" class="form-control" id="price">
          </div>
          <div class="mb-3">
            <label for="input3" class="form-label">Foto URL</label>
            <input type="text" name="thumbnail" class="form-control" id="thumbnail">
          </div>

          <div class="d-grid gap-2 btncontainer">
            <button type="submit" class="btn btn-primary">Enviar</button>
          </div>
        </form>

        <a class="btn btn-success mt-3" href='/productos/listar'>Ver Lista</a>
    </div>
  </div>
</body>
</html>